<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<div class="header_bg">
    <header>
        <a class="site__logo"><img src="{%static "images/logo.png" %}" class="site__logo__img"></a>
        <ul class="Navigation">
            <li ><a class="navigation__link">Повідомлення</a></li>
            <li ><a href="{% url 'logout'%}" class="navigation__link"> Вийти </a></li>
            <li id="profileli"><a href="{% url 'userprofile' %}"  class="navigation__link"> <div class="profile__link"><img src="{%static "images/profile.png" %}" id="profile_logo">  <span>Ваш профіль</span></div></a></li>
            <li class="PushToStore"><button ><a id="PushToStore" href="{% url 'pushreveletaion'%}" class="navigation__link">Подати об'явлення</a></button></li>
        </ul>
</header>
 </div>
<body>
    <form method="post">
        {% csrf_token %}
        <p>
            <label>Введіть назву</label><br>
            <input type="text" name = "name" value="" />
        </p>
        <p>
            <label>Від</label><br>
            <input type="text"  name = "Startprice" value="0" />
        </p>
        <p>
            <label>До</label><br>
            <input type="text"  name = "FinishPrice" value="10000" />
        </p>
        <button type="submit" value="Пошук"></button>
    </form>
</body>
</html>