
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

 <div class="header_bg">
    <header>
        <a class="site__logo"><img src="{%static "images/logo.png" %} " class="site__logo__img"></a>
        <ul class="Navigation">
            <li ><a class="navigation__link" href="{% url 'msg' %}">Повідомлення</a></li>
            <li ><a href="{% url 'logout'%}" class="navigation__link"> Вийти </a></li>
            <li id="profileli"><a href="{% url 'userprofile' %}"  class="navigation__link"> <div class="profile__link"><img src="{%static "images/profile.png" %}" id="profile_logo">  <span>Ваш профіль</span></div></a></li>
            <li class="PushToStore"><button ><a id="PushToStore" href="{% url 'pushreveletaion'%}" class="navigation__link">Подати об'явлення</a></button></li>
        </ul>
</header>
 </div>
<body>
<div class="search">

    <form method="post">
        {% csrf_token %}
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..."  name="search"/>
    </form><br><br>
    <div class="adv__search">

    </div>

</div>

<div class="categories">
    <h1>Головні категорії</h1>

    <ul class="category__list">
        {%for category in categories%}
        <li class="category__list__item">
            <img src="{{MEDIA_URL}}{{category.avatar.url}}" class="category__img"><br>
            <a class="category__link" href="{% url 'category_s' category.id %}">{{category.name}}</a>
        </li>

    {% endfor%}
    </ul>

</div>
<div class="index__revelations ">
    <h1>Актуальні об'явлення</h1>
    <ul class="index_revelations">
        {% for revelation in revelations%}
            <li>
                <div class="index__revelations__item">
                    <div class="container">
                    <img src="{{MEDIA_URL}}{{revelation.image.url}}"><br>
                     </div>
                    <a href="{% url 'revelation' revelation.id %}" class="revelation_link">{{revelation.name}}</a>
                    <p>{{revelation.price}}</p>
                </div>

            </li>
        {% endfor %}
    </ul>
</div>

<footer>
    <div class="footer__items">
        <ul class="information__list">
            <li class="information__list__item"><a>Підтримка</a><br></li>
            <li class="information__list__item"><a>Блог</a><br></li>
            <li class="information__list__item"><a>Правила</a><br></li>
            <li class="information__list__item"><a>Реклама</a><br></li>

        </ul>
    </div>
</footer>
</body>
</html>